@charset "ISO-8859-1";
body{
	background: url(../img/banking.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
}
.home{
	height:fit-content;
	width: fit-content;
	margin:auto;
}
#site{
	margin-top: 20%;
}
#homeBtn{
	display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}